<div class="row justify-content-center">
  {{#each gamePair as |model i|}}
    <div class="col-sm-8 col-md-6 col-lg-4 text-center">
      <div class="card mt-5">
        <div class="card-body">
          <h3 class="card-title mb-2">
            {{#if (not (and i hideComputerCard))}}
              {{model.name}}
            {{else}}
              ?
            {{/if}}
          </h3>
          <table class="table mt-4">
            <tbody>
              {{#each-in model.properties as |key value|}}
                <tr>
                  <th
                    class={{if (eq key selectedProperty)
                    'text-left bg-dark text-white'
                    'text-left'}}
                    scope="row">
                    {{key}}
                  </th>
                  <td
                    class={{if (eq key selectedProperty)
                    'font-weight-bold bg-dark text-white text-right'
                    'text-right'}}>
                    {{#if (not (and i hideComputerCard))}}
                      {{#if (and
                        (eq key selectedProperty)
                        (or (and isLeftWinner (not i)) (and i isRightWinner))
                      )}}
                        <span class="badge badge-dark font-size-100">
                          {{value}}
                        </span>
                      {{else}}
                        {{value}}
                      {{/if}}
                    {{else}}
                      ?
                    {{/if}}
                  </td>
                </tr>
              {{/each-in}}
            </tbody>
          </table>
        </div>
      </div>
      <h2>
        <span>{{#if i}}Computer : {{else}} Player : {{/if}}</span>
        <span>{{unless i leftPlayerScore rightPlayerScore}}</span>
      </h2>
    </div>
  {{/each}}
</div>

<div class="row">
  <div class="col text-center">
    <div class={{unless hideComputerCard "d-none"}}>
      <button
        type="button"
        name="button"
        class="btn btn-lg mt-3 mb-5"
        onclick={{action "play" shuffledModel selectedProperty}}>
        PLAY
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <p class="display-block mt-2">{{result}}</p>
  </div>
</div>
