{{#if (eq game "starships")}}
  <div class="row">
    {{#each gameCollection as |starship i|}}
      <div class="col text-center">
        <h2>
          {{#if i}}Computer : {{else}} Player : {{/if}}
          {{unless i leftPlayerScore rightPlayerScore}}
        </h2>

        <div class="card mt-5">
          <div class="card-body">
            <h3 class="card-title mb-2 font-weight-bold">{{starship.name}}</h3>
            <ul class="list-unstyled">
              <li class="font-weight-bold">Crew : {{starship.crew}}</li>
              <li class="">Length : {{starship.length}}</li>
              <li class="">Passengers : {{starship.passengers}}</li>
              <li class="">Hyperdrive Rating : {{starship.hyperdrive_rating}}</li>
              <li class="">Cost in Credits : {{starship.cost_in_credits}}</li>
              <li class="">Cargo Capacity : {{starship.cargo_capacity}}</li>
            </ul>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if (eq game "people")}}
  <div class="row">
    {{#each gameCollection as |person i|}}
      <div class="col text-center">
        <h2>
          {{#if i}}Computer : {{else}} Player : {{/if}}
          {{unless i leftPlayerScore rightPlayerScore}}
        </h2>

        <div class="card mt-5">
          <div class="card-body">
            <h3 class="card-title mb-2">{{person.name}}</h3>
            <ul class="list-unstyled">
              <li class=" font-weight-bold">Mass : {{person.mass}}</li>
              <li class="">Gender : {{person.gender}}</li>
              <li class="">Height : {{person.height}}</li>
              <li class="">Eye Colour : {{person.eye_color}}</li>
              <li class="">Birth Year : {{person.birth_year}}</li>
            </ul>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="row">
  <div class="col text-center">
    <p class="mt-5 display-block text-white">{{result}}</p>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <button type="button" name="button" class="btn btn-lg btn-light mt-5 mb-5" onclick={{action "pickRandom" model selectedAttr}}>
      PLAY
    </button>
  </div>
</div>
