{{#if (eq game "people")}}
  <div class="row justify-content-center">
    {{#each gamePair as |person i|}}
      <div class="col col-md-5 text-center">
        <h2 class="text-white mb-5">
          <span>{{#if i}}Computer : {{else}} Player : {{/if}}</span>
          <span>{{unless i leftPlayerScore rightPlayerScore}}</span>
        </h2>

        <div class="card mt-5">
          <div class="card-body">
            {{#if (not (and i hideComputerCard))}}
              <h3 class="card-title mb-2">{{person.name}}</h3>
              <table class="table mt-4">
                <tbody>
                  <tr>
                    <th scope="row" class="text-left">Gender</th><td class="text-right">{{person.gender}}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Eye Colour</th><td class="text-right">{{person.eye_color}}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Mass</th><td class="text-right">{{person.mass}}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Height</th>
                    <td class="font-weight-bold text-right">
                      {{#if (or (and i isRightWinner) (and isLeftWinner (not i)))}}
                        <span class="badge badge-warning font-size-100">
                          {{person.height}}
                        </span>
                      {{else}}
                        {{person.height}}
                      {{/if}}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Birth Year</th><td class="text-right">{{person.birth_year}}</td>
                  </tr>
                </tbody>
              </table>
            {{else}}
              <h3 class="card-title mb-2">?</h3>
              <table class="table mt-4">
                <tbody>
                  <tr>
                    <th scope="row" class="text-left">Gender</th><td class="text-right">?</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Eye Colour</th><td class="text-right">?</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Mass</th><td class="text-right">?</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Height</th><td class="text-right">?</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Birth Year</th><td class="text-right">?</td>
                  </tr>
                </tbody>
              </table>
            {{/if}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if (eq game "starships")}}
  <div class="row justify-content-center">
    {{#each gamePair as |starship i|}}
      <div class="col col-md-5 text-center">
        <h2 class="text-white">
          <span>{{#if i}}Computer : {{else}} Player : {{/if}}</span>
          <span>{{unless i leftPlayerScore rightPlayerScore}}</span>
        </h2>

        <div class="card mt-5">
          <div class="card-body">
            {{#if (not (and i hideComputerCard))}}
              <h3 class="card-title mb-2 font-weight-bold">{{starship.name}}</h3>

              <table class="table mt-4">
                <tbody>
                  <tr>
                    <th scope="row" class="text-left">Crew</th><td class="text-right">{{starship.crew}}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Length</th><td class="font-weight-bold text-right"><span class="badge badge-dark">{{starship.length}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Hyperdrive Rating</th><td class="text-right">{{starship.hyperdrive_rating}}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Passengers</th><td class="text-right">{{starship.passengers}}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Cost in Credits</th><td class="text-right">{{starship.cost_in_credits}}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Cargo Capacity</th><td class="text-right">{{starship.cargo_capacity}}</td>
                  </tr>
                </tbody>
              </table>
            {{else}}
              <h3 class="card-title mb-2 font-weight-bold">?</h3>

              <table class="table mt-4">
                <tbody>
                  <tr>
                    <th scope="row" class="text-left">Crew</th><td class="text-right">?</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Length</th><td class="text-right">?</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Passengers</th><td class="text-right">?</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Hyperdrive Rating</th><td class="text-right">?</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Cost in Credits</th><td class="text-right">?</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Cargo Capacity</th><td class="text-right">?</td>
                  </tr>
                </tbody>
              </table>
            {{/if}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="row">
  <div class="col text-center">
    <div class={{unless hideComputerCard "d-none"}}>
      <button type="button" name="button" class="btn btn-lg mt-5 mb-5" onclick={{action "play" shuffledModel selectedAttr}}>
        PLAY
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <p class="display-block mt-5">{{result}}</p>
  </div>
</div>
