{{#if (eq game "people")}}
  <div class="row justify-content-center">
    {{#each gamePair as |person i|}}
      <div class="col col-md-5 text-center">
        <div class="card mt-5">
          <div class="card-body">
            <h3 class="card-title mb-2">
              {{#if (not (and i hideComputerCard))}}
                {{person.name}}
              {{else}}
                ?
              {{/if}}
            </h3>
            <table class="table mt-4">
              <tbody>
                <tr>
                  <th scope="row" class="text-left">Gender</th>
                  <td class="text-right">
                    {{#if (not (and i hideComputerCard))}}
                      {{person.gender}}
                    {{else}}
                      ?
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Eye Colour</th>
                  <td class="text-right">
                    {{#if (not (and i hideComputerCard))}}
                      {{person.eye_color}}
                    {{else}}
                      ?
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Mass</th>
                  <td class="text-right">
                    {{#if (not (and i hideComputerCard))}}
                      {{person.mass}}
                    {{else}}
                      ?
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Height</th>
                  <td class="font-weight-bold text-right">
                    {{#if (not (and i hideComputerCard))}}
                      {{#if (or (and i isRightWinner) (and isLeftWinner (not i)))}}
                        <span class="badge badge-dark font-size-100">
                          {{person.height}}
                        </span>
                      {{else}}
                        {{person.height}}
                      {{/if}}
                    {{else}}
                      ?
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Birth Year</th>
                  <td class="text-right">
                    {{#if (not (and i hideComputerCard))}}
                      {{person.birth_year}}
                    {{else}}
                      ?
                    {{/if}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h2>
          <span>{{#if i}}Computer : {{else}} Player : {{/if}}</span>
          <span>{{unless i leftPlayerScore rightPlayerScore}}</span>
        </h2>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if (eq game "starships")}}
  <div class="row justify-content-center">
    {{#each gamePair as |starship i|}}
      <div class="col col-md-5 text-center">
        <div class="card mt-5">
          <div class="card-body">
            <h3 class="card-title mb-2 font-weight-bold">
              {{#if (not (and i hideComputerCard))}}
                {{starship.name}}
              {{else}}
                ?
              {{/if}}
            </h3>

            <table class="table mt-4">
              <tbody>
                <tr>
                  <th scope="row" class="text-left">Crew</th>
                  <td class="text-right">
                    {{#if (not (and i hideComputerCard))}}
                      {{starship.crew}}
                    {{else}}
                      ?
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Length</th>
                  <td class="font-weight-bold text-right">
                    {{#if (not (and i hideComputerCard))}}
                      {{#if (or (and i isRightWinner) (and isLeftWinner (not i)))}}
                        <span class="badge badge-dark">
                          {{starship.length}}
                        </span>
                      {{else}}
                        {{starship.length}}
                      {{/if}}
                    {{else}}
                      ?
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Hyperdrive Rating</th>
                  <td class="text-right">
                    {{#if (not (and i hideComputerCard))}}
                      {{starship.hyperdrive_rating}}
                    {{else}}
                      ?
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Passengers</th>
                  <td class="text-right">
                    {{#if (not (and i hideComputerCard))}}
                      {{starship.passengers}}
                    {{else}}
                      ?
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Cost in Credits</th>
                  <td class="text-right">
                    {{#if (not (and i hideComputerCard))}}
                      {{starship.cost_in_credits}}
                    {{else}}
                      ?
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Cargo Capacity</th>
                  <td class="text-right">
                    {{#if (not (and i hideComputerCard))}}
                      {{starship.cargo_capacity}}
                    {{else}}
                      ?
                    {{/if}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h2>
          <span>{{#if i}}Computer : {{else}} Player : {{/if}}</span>
          <span>{{unless i leftPlayerScore rightPlayerScore}}</span>
        </h2>
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="row">
  <div class="col text-center">
    <div class={{unless hideComputerCard "d-none"}}>
      <button type="button" name="button" class="btn btn-lg mt-3 mb-5" onclick={{action "play" shuffledModel selectedAttr}}>
        PLAY
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <p class="display-block mt-2">{{result}}</p>
  </div>
</div>
