<div class="row">
  {{#each gameCollection as |starship|}}
    <div class="col text-center">
      <h2>Player 1 : {{leftPlayerScore}}</h2>

      <ul class="list-unstyled">
        <li class="text-white ">Name: {{starship.name}}</li>
        <li class="text-white ">Crew : {{starship.crew}}</li>
        <li class="text-white ">Length : {{starship.length}}</li>
        <li class="text-white ">Passengers : {{starship.passengers}}</li>
      </ul>

    </div>
  {{/each}}
</div>

<div class="row">
  <div class="col text-center">
    <button type="button" name="button" class="btn btn-light" onclick={{action 'pickRandom'}}>
      PLAY
    </button>
  </div>
</div>
